* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.banner {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 50px;
  padding: 0 32px 0 0;
}

.nav-menu {
  background: #161616;
  height: 50px;
  width: 100%;
  /* padding: 8px;  */
}
.shelf-header {
  display: flex;
  align-items: center;
  background: white;
  height: 57px;
  width: 100%;
  padding: 0 8px;
  justify-content: flex-start;
}
.desktop-menu {
  align-items: center;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  width: 15px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  background-color: blue;
}
.desktop-menu div {
  height: 4px;
  width: 4px;
  background-color: #161616;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.3s;
}
.desktop-menu:hover div {
  background-color: red;
  transform: scale(1.4);
}

.nav-menu button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
.open-link button {
  height: 48px;
  width: 57px;
}

.shelf_logo {
  align-items: center;
  display: flex;
  font-size: 0;
  height: 100%;
  line-height: 0;
  margin-left: 48px;
  box-sizing: border-box;
}
